<%= form_for article do |f| %>

  <%= f.hidden_field :raw_article_id, value: raw_article.id %>
  <% tag_groups.each do |tag_group| %>
    <h3><%= tag_group.name %></h3>
    <%= f.collection_check_boxes :tag_ids, tag_group.tags, :id, :name %>
  <% end %>

  <%= f.submit "Curate!" %>
<% end %>
