<div id="horizontal_menu" class="menu">
  <a class="logo" href="/">QMM</a>

  <%= form_for(:search, url: search_path, method: "get", html: {id: "search_form"}) do |f| %>
    <%= f.text_field :search_text, placeholder: "Search", autofocus: true, id: "search_bar" %>
    <div id="under_search_bar">
      <div id="under_search_bar_content">

          <% @tag_groups.each do |tg| %>
            <div class="search_category">
            <span class="first"><%= tg.name %></span>
            <%= f.collection_check_boxes :tag_ids, tg.tags.order_by("result_tags DESC"), :id, :name do |c| %>
              <%= c.label class: "check_container" do %>
                <%= c.text %>
                <%= c.check_box %>
                <span class="checkmark">
              <% end %>
            <% end %>
            </div>
          <% end %>
        </div>
          <div id="bottom">
            <!-- <a href="#" class="button red">Clear</a>
            <a href="#" class="button yellow">Cancel</a> -->
            <%= f.submit "Search", class: "button green" %>
          </div>

    </div>
  <% end %>

    <div style="display: flex; flex-direction: row; width: 10%; justify-content: space-between;">
      <% if logged_in? %>
        <%= link_to "My Account", user_path(current_user.id), class: "search_side_link" %>
        <%= link_to "Log Out", logout_path, method: :delete, class: "search_side_link" %>
      <% else %>
        <%= link_to "Log In", login_path, class: "search_side_link" %>
        <%= link_to "Register", new_user_path, class: "search_side_link" %>
      <% end %>
    </div>
</div>

<script>

  var search_shown = 0;

  $("#search_form").on("mouseenter", function(){
    var search_rect = document.getElementById('search_bar').getBoundingClientRect();
    $("#under_search_bar").css("top", search_rect.bottom);
    $("#under_search_bar").show();
    search_shown = 1;
  });

  $("#search_form").on("mouseleave", function(){
    $("#under_search_bar").hide();
    search_shown = 0;
  })

  $("#search_form").on("keypress", function(){
    if(search_shown == 0){
      var search_rect = document.getElementById('search_bar').getBoundingClientRect();
      $("#under_search_bar").css("top", search_rect.bottom);
      $("#under_search_bar").show();
      search_shown = 1;
    }
  })
</script>
